<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>

        <div class="main-content">{{>header}}
        <img class="portrait" src="/img/1.47.07.jpeg">
        </div>

        
        {{>footer}} 
    </body>

    </html>